<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%=db[movieID].Title%></h1>
    <p>Directed by: <%=db[movieID].Director%></p>
    <p>Released: <%=`${db[movieID].Released}`%></p>
    <p>Rated: <%=db[movieID].Rated%></p>
    <p>Movie Length: <%=db[movieID].Runtime%></p>
    <p>Genre: <%=db[movieID].Genre%></p>
    <p>Actors: <%=db[movieID].Actors%></p>
    <p>Plot: <%=db[movieID].Plot%></p>
<img src="<%=db[movieID].Poster%>" alt="">
    <h3><a href="/movie-list">Back to Movie List</a></h3>
  </body>
</html>
